@import url('https://fonts.googleapis.com/css2?family=Lustria&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import "tailwindcss";

@theme {
    --font-sans: "Nunito", Arial, Helvetica, sans-serif;
    --font-serif: 'Lustria', Georgia, 'Times New Roman', Times, serif;

    /* ===================================================== */
    /* CATPPUCCIN MOCHA (Dark)                               */
    /* ===================================================== */
    --color-mocha-rosewater: #f5e0dc;
    --color-mocha-flamingo: #f2cdcd;
    --color-mocha-pink: #f5c2e7;
    --color-mocha-mauve: #cba6f7;
    --color-mocha-red: #f38ba8;
    --color-mocha-maroon: #eba0ac;
    --color-mocha-peach: #fab387;
    --color-mocha-yellow: #f9e2af;
    --color-mocha-green: #a6e3a1;
    --color-mocha-teal: #94e2d5;
    --color-mocha-sky: #89dceb;
    --color-mocha-sapphire: #74c7ec;
    --color-mocha-blue: #89b4fa;
    --color-mocha-lavender: #b4befe;

    /* Text & Surfaces */
    /* --color-mocha-subtext1: #bac2de;
    --color-mocha-subtext0: #a6adc8;
    --color-mocha-overlay2: #9399b2;
    --color-mocha-overlay1: #7f849c;
    --color-mocha-overlay0: #6c7086;
    --color-mocha-surface2: #585b70;
    --color-mocha-surface1: #45475a;
    --color-mocha-surface0: #313244; */

    --color-mocha-text: #cdd6f4;
    --color-mocha-caption: #bac2de;
    --color-mocha-subtext: #9399b2;
    --color-mocha-overlay: #313244;
    --color-mocha-surface: #252538;

    /* Backgrounds */
    --color-mocha-base: #1e1e2e;
    --color-mocha-mantle: #181825;
    --color-mocha-crust: #11111b;
    /* ===================================================== */


    /* ===================================================== */
    /* CATPPUCCIN LATTE (Light)                              */
    /* ===================================================== */
    --color-latte-rosewater: #dc8a78;
    --color-latte-flamingo: #dd7878;
    --color-latte-pink: #ea76cb;
    --color-latte-mauve: #8839ef;
    --color-latte-red: #d20f39;
    --color-latte-maroon: #e64553;
    --color-latte-peach: #fe640b;
    --color-latte-yellow: #df8e1d;
    --color-latte-green: #40a02b;
    --color-latte-teal: #179299;
    --color-latte-sky: #04a5e5;
    --color-latte-sapphire: #209fb5;
    --color-latte-blue: #1e66f5;
    --color-latte-lavender: #7287fd;

    /* Text & Surfaces */
    --color-latte-text: #4c4f69;
    --color-latte-subtext1: #5c5f77;
    --color-latte-subtext0: #6c6f85;
    --color-latte-overlay2: #7c7f93;
    --color-latte-overlay1: #8c8fa1;
    --color-latte-overlay0: #9ca0b0;
    --color-latte-surface2: #acb0be;
    --color-latte-surface1: #bcc0cc;
    --color-latte-surface0: #ccd0da;

    /* Backgrounds */
    --color-latte-base: #eff1f5;
    --color-latte-mantle: #e6e9ef;
    --color-latte-crust: #dce0e8;
    /* ===================================================== */
    
    /* Socials */
    --color-whatsapp: #25D366;
    --color-facebook: #1877F2;
    --color-instagram: #E1306C;
    --color-linkedin: #0077B5;
    --color-twitter: #1DA1F2;
    --color-tiktok: #FE2858;
    --color-youtube: #FF0436;
    --color-github: #11111b;
    /* ===================================================== */
}

@source inline("hover:bg-whatsapp hover:bg-facebook hover:bg-instagram hover:bg-linkedin hover:bg-twitter hover:bg-tiktok hover:bg-youtube hover:bg-github");

@layer base {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: var(--font-serif);
    }

    a,
    button {
        transition: all 200ms ease-out;
    }

    html,
    body {
        /* Enables scrolling */
        overflow: auto;
        /* Hides scrollbar for Firefox */
        scrollbar-width: none;
        /* Hides scrollbar for IE and older Edge */
        -ms-overflow-style: none;
        scroll-behavior: smooth;
        min-width: 100vw;
        min-height: 100vh;
    }

    /* Hides scrollbar for Chrome, Safari, and newer Edge (WebKit) */
    html::-webkit-scrollbar,
    body::-webkit-scrollbar {
        display: none;
    }

    body {
        font-family: var(--font-sans);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        text-wrap: pretty;
    }
}

/* @plugin "@tailwindcss/typography";

@utility markdown-custom {

} */