@import url('https://fonts.googleapis.com/css2?family=Lustria&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import "tailwindcss";

@theme {
    --font-sans: "Nunito", Arial, Helvetica, sans-serif;
    --font-serif: 'Lustria', Georgia, 'Times New Roman', Times, serif;

    /* Brand kit - Catppuccin Mocha */
    /* ===================================================== */
    /* Backgrounds */
    --color-base-500: #252538;      /* Base (Light) */
    --color-base-600: #1e1e2e;      /* Base */
    --color-base-700: #181825;      /* Mantle */
    --color-base-900: #11111b;      /* Crust */

    /* Text */
    --color-surface-100: #cdd6f4;   /* Text */
    --color-surface-200: #bac2de;   /* Subtext1 */
    --color-surface-300: #a6adc8;   /* Subtext0 */
    --color-surface-400: #9399b2;   /* Overlay2 */
    --color-surface-500: #7f849c;   /* Overlay1 */
    --color-surface-600: #6c7086;   /* Overlay0 */
    --color-surface-700: #585b70;   /* Surface2 */
    --color-surface-800: #45475a;   /* Surface1 */
    --color-surface-900: #313244;   /* Surface0 */
    /* ===================================================== */

    /* Socials */
    /* ===================================================== */
    --color-whatsapp: #25D366;
    --color-facebook: #1877F2;
    --color-instagram: #E1306C;
    --color-linkedin: #0077B5;
    --color-twitter: #1DA1F2;
    --color-tiktok: #FE2858;
    --color-youtube: #FF0436;
    --color-github: #11111b;
    /* ===================================================== */
}

@source inline("hover:bg-whatsapp hover:bg-facebook hover:bg-instagram hover:bg-linkedin hover:bg-twitter hover:bg-tiktok hover:bg-youtube hover:bg-github");

@layer base {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: var(--font-serif);
    }

    a,
    button {
        transition: all 200ms ease-out;
    }

    html,
    body {
        /* Enables scrolling */
        overflow: auto;
        /* Hides scrollbar for Firefox */
        scrollbar-width: none;
        /* Hides scrollbar for IE and older Edge */
        -ms-overflow-style: none;
        scroll-behavior: smooth;
        min-width: 100vw;
        min-height: 100vh;
    }

    /* Hides scrollbar for Chrome, Safari, and newer Edge (WebKit) */
    html::-webkit-scrollbar,
    body::-webkit-scrollbar {
        display: none;
    }

    body {
        background: var(--color-base-600);
        color: var(--color-surface-100);
        font-family: var(--font-sans);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        text-wrap: pretty;
    }
}

/* @plugin "@tailwindcss/typography";

@utility markdown-custom {

} */