---
// src/layouts/BaseHTMLView.astro
import type { ComponentProps } from "astro/types";
import HeadPartial from "Partials:/HeadPartial.astro";

import "Assets:/global.css";
import { SiteSettings } from "../utilities";

type Props = ComponentProps<typeof HeadPartial>;
const Properties = Astro.props;
---

<!doctype html>
<html lang={SiteSettings.Language.toLowerCase() || "en"}>
    <HeadPartial {...Properties}>
        <slot name="head" />
    </HeadPartial>
    <body class="bg-mocha-base text-mocha-text">
        <slot />
        <slot name="foot" />
    </body>
</html>
