---
// src/layouts/BaseLayout.astro
import type { ComponentProps } from "astro/types";
import HeadPartial from "Partials:/HeadPartial.astro";

import "Assets:/global.css";
import { SiteSettings } from "../utilities";

// Automatically inherit all property types from your BaseHead component!
type Props = ComponentProps<typeof HeadPartial>;
const Properties = Astro.props;

const DEVMODE = import.meta.env.DEV;
---

<!doctype html>
<html lang={SiteSettings.locale || "en"}>
    <HeadPartial {...Properties}>
        <slot name="head" />
    </HeadPartial>
    <body class="bg-mocha-base text-mocha-text">
        {
            DEVMODE && (
                <div class="absolute top-4 right-4 flex flex-col items-end text-teal-700">
                    <p class="text-sm text-right">{Astro.url.pathname}</p>
                </div>
            )
        }
        <slot />
    </body>
</html>
