---
import NavigationView from "Views:/NavigationView.astro";
import { GetPageProperties } from "../utilities";

const { Metadata: pagemetadata } = GetPageProperties(Astro.url.pathname);
---

<NavigationView {...pagemetadata}>
    <div class="grid gap-4 max-w-xl mx-auto text-center mb-12">
        <h1 class="text-xl font-bold text-mocha-text">{pagemetadata.Title}</h1>
        <p class="text-base text-mocha-subtext">{pagemetadata.Description}</p>
    </div>
</NavigationView>