---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<"a"> & {
    label: string
    url?: string
}
const { label, url, ...props } = Astro.props
const containerclass = `flex justify-center items-center rounded px-2 py-1 shrink-0 border border-paint-surface hover:bg-paint-mantle text-ink-default tracking-wide hover:tracking-normal shadow ${props.class}`;
---
<div class="flex gap-2 justify-center flex-wrap overflow-x-auto">
    <a class={containerclass} href={url}>{label}</a>
</div>