---
// src/components/MarkdownImage.astro
import ImagePartial from "./ImagePartial.astro";
const { ...props } = Astro.props;
---

<div class="rounded-md border border-mocha-overlay shadow-lg overflow-hidden img-wrap shimmer">
    <ImagePartial {...props} />
</div>
