---
// src/components/MarkdownImage.astro
import ImagePartial from "./ImagePartial.astro";
const { ...props } = Astro.props;
---

<div class="w-full rounded-md border border-mocha-overlay shadow-lg overflow-hidden img-wrap shimmer">
    <ImagePartial {...props} class="w-full" />
    {props.alt && <p class="text-mocha-subtext p-4 text-center m-0!">{props.alt}</p>}
</div>
