---
type Props = {
    Tags: string[]
}
const { Tags } = Astro.props
---
<div class="flex gap-2 flex-wrap overflow-x-auto text-surface-100 text-sm">
    {Tags.slice(0, 4).map((e) => (
        <p class="flex bg-surface-900 justify-center items-center rounded px-2 py-1 shrink-0">
            {e}
        </p>
    ))}
</div>