---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<"p"> & {
    tags: string[]
}
const { tags, ...props } = Astro.props
---
<div class="flex gap-2 justify-center flex-wrap overflow-x-auto">
    {tags.map((e) => (
        <p class={`flex justify-center items-center rounded px-2 py-1 shrink-0 ${props.class ?? "bg-mocha-overlay/60 text-mocha-caption"}`}>
            {e}
        </p>
    ))}
</div>