---
import NavigationLayout from "Views:/NavigationLayout.astro";
import IconPartial from "Partials:/IconPartial.astro";
import { SiteSettings } from "../../utilities";
---

<NavigationLayout 
    headprops={{
        Title: `${SiteSettings.SiteName} :: 404`,
        Description: "Page could not be found.",
        Hidden: true
    }}
>
    <div class="grid gap-2 max-w-xl mx-auto text-center mt-4 lg:mt-12" slot="pre-navigation">
        <div class="mb-8 lg:mb-12 max-w-96 px-6 md:px-12 mx-auto">
            <IconPartial class="w-full h-full" name="island-night" />
        </div>
        <h1 class="text-xl text-mocha-text">{SiteSettings.NotFound.Title}</h1>
        <div class="flex flex-col items-center leading-none">
            {SiteSettings.NotFound.Caption.map((e) => (
                <p class="text-base text-mocha-subtext">{e}</p>
            ))}
        </div>
    </div>
</NavigationLayout>