@import url('https://fonts.googleapis.com/css2?family=Lustria&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
    --font-sans: "Nunito", Arial, Helvetica, sans-serif;
    --font-serif: 'Lustria', Georgia, 'Times New Roman', Times, serif;


    --color-ctp-crust: var(--catppuccin-color-crust);
    --color-ctp-mantle: var(--catppuccin-color-mantle);
    --color-ctp-base: var(--catppuccin-color-base);
    --color-ctp-surface: var(--catppuccin-color-surface);
    --color-ctp-muted: var(--catppuccin-color-muted);
    --color-ctp-subtext: var(--catppuccin-color-subtext);
    --color-ctp-soft: var(--catppuccin-color-soft);
    --color-ctp-text: var(--catppuccin-color-text);
    --color-ctp-accent: var(--catppuccin-color-blue);

    --catppuccin-color-crust: #11111b;
    --catppuccin-color-mantle: #181825;
    --catppuccin-color-base: #1e1e2e;
    --catppuccin-color-surface: #313244;
    --catppuccin-color-muted: #9399b2;
    --catppuccin-color-subtext: #a6adc8;
    --catppuccin-color-soft: #bac2de;
    --catppuccin-color-text: #cdd6f4;
    --catppuccin-color-blue: #fab387;
    
    /* Socials */
    --color-whatsapp: #25D366;
    --color-facebook: #1877F2;
    --color-instagram: #E1306C;
    --color-linkedin: #0077B5;
    --color-twitter: #1DA1F2;
    --color-tiktok: #FE2858;
    --color-youtube: #FF0436;
    --color-github: #11111b;
    /* ===================================================== */
}

@source inline("hover:bg-whatsapp hover:bg-facebook hover:bg-instagram hover:bg-linkedin hover:bg-twitter hover:bg-tiktok hover:bg-youtube hover:bg-github");

@layer base {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: var(--font-serif);
    }

    a,
    button {
        transition: all 200ms ease-out;
    }

    html,
    body {
        /* Enables scrolling */
        overflow: auto;
        /* Hides scrollbar for Firefox */
        scrollbar-width: none;
        /* Hides scrollbar for IE and older Edge */
        -ms-overflow-style: none;
        scroll-behavior: smooth;
        min-width: 100vw;
        min-height: 100vh;
    }

    /* Hides scrollbar for Chrome, Safari, and newer Edge (WebKit) */
    html::-webkit-scrollbar,
    body::-webkit-scrollbar {
        display: none;
    }

    body {
        font-family: var(--font-sans);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        text-wrap: pretty;
    }

    .img-wrap {
    position: relative;
    overflow: hidden;
    background-color: var(--color-mocha-surface);
    display: inline-block;
  }

    /* Shimmer effect on the wrapper */
    .shimmer::after {
        content: "";
        position: absolute;
        inset: 0;
        transform: translateX(-100%);
        background: linear-gradient(
            90deg,
            transparent,
            rgba(255, 255, 255, 0.05),
            transparent
        );
        animation: shine 1.6s infinite;
    }

    /* Keep the image hidden until loaded */
    .img-wrap > img {
        opacity: 0;
        transition: opacity 0.4s ease-in-out;
        display: block;
    }

    .img-wrap > img.loaded {
        opacity: 1;
    }

    @keyframes shine {
        100% {
        transform: translateX(100%);
        }
    }
}

/* @plugin "@tailwindcss/typography";

@utility markdown-custom {

} */